*{
    margin: auto;
}

body{
   background-color:#C8C8C8;
   font-family: 'Roboto', sans-serif;
   margin:0px 90px 0px 90px; 
}
body p{
    margin-top: 20px;
}

h1{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 70px;
    padding-top: 20px;
    
}

h2{
    font-family: 'Libre Baskerville', serif;
    color: #cf0025;
    margin-top: 20px;
}
caption{
    margin-bottom: 2%;
    margin-top: 20px;
    text-align: left;
    color:#cf0025;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    
}

table{
    border-collapse: collapse;
}
tr th{
    background-color: black;
    color: white;

}
tr:hover td{
    background-color: #999999;
    cursor: pointer;
}

tr{
    height: 50px;
}
tr:nth-child(2n){
    background-color: #DDDDDD;
}

a{ 
    color: #cf0025;
    font-weight: bold;
 
    
}

p {
    text-align: justify;
    
  
}

figure{
    border: 5px solid #cf0025;
    background-color: #333333;
    border-radius: 10px;
    width: 1098px;
    margin-left: 0;
    margin-right: 0 ;
    margin-top: 10px;
    text-align: center;      
}
   
figcaption{
    color: white;
    font-weight: bold; 
    font-size: 20px;
    font-style: italic;

}
img{
    max-width: 90%;
    padding: 20px;  
}



.para{
    border: 2px dashed #6000B0;
    line-height: 2;
    padding: 25px;
    margin: 25px;
    background-color:#B7B7B7;
    color: #6000B0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  